<h1>{{title}}</h1>

<style>
    .nav {
        text-align: center;
        color:cadetblue; 
        margin-top: 16px;
        margin-bottom: 48px;
    }

    h1 {
        font-size: 64px; 
        text-align: center; 
    }
</style>

<div class="nav">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>